<!DOCTYPE html>
<html lang="en" data-theme="dim">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Climate Solutions</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body class="min-h-screen bg-base-100">
    <%- include('partials/navbar', {page: ''}) %>

    <div class="container mx-auto px-4 mt-24">
        <div class="hero min-h-[200px] bg-base-200 rounded-box my-8">
            <div class="hero-content text-center">
                <div class="max-w-md">
                    <h1 class="text-5xl font-bold mb-4">404</h1>
                    <p class="text-lg"><%= message %>
                        <span class="text-md mt-4" id="current-time"></span>
                    </p>
                    <p class="text-md mt-4"><%= studentName %> - <%= studentId %></p>
                </div>
            </div>
        </div>

        <script>
            function updateDateTime() {
                const currentDate = new Date();
                const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit', hour12: true };
                document.getElementById('current-time').textContent = `${currentDate.toLocaleString('en-US', options)}`;
            }
            
            updateDateTime();
            setInterval(updateDateTime, 1000); 
        </script>
    </div>
</body>
</html>